@page
@model Bootstrap4Model
@{
    ViewData["Title"] = "Bootstrap4";
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hello, world!</title>

    <!-- Bootstrap CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

</head>

<body>

    <div class="container">

        <div class="card">

            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h5>Mobile</h5>
                    </div>
                    <div class="col text-right">
                        <i class="fa fa-wifi"></i>
                        <i class="fa fa-battery"></i>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="p-5 row">
                    <div class="col">
                        <button type="button" class="btn btn-outline-primary">
                            <i class="fa fa-facebook fa-2x"></i>
                        </button>
                    </div>
                    <div class="col text-center">
                        <button type="button" class="btn btn-outline-primary">
                            <i class="fa fa-twitter fa-2x"></i>
                        </button>
                    </div>
                    <div class="col text-right">
                        <button type="button" class="btn btn-outline-primary">
                            <i class="fa fa-instagram fa-2x"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-primary">
                            <i class="fa fa-phone fa-2x"></i>
                        </button>
                    </div>
                    <div class="col text-right">
                        <button type="button" class="btn btn-primary">
                            <i class="fa fa-camera fa-2x"></i>
                        </button>
                    </div>
                </div>
            </div>

        </div>

    </div>








    @*<i class="fa fa-battery fa-2x"></i>


            <div class="card">
                <div class="card-header">
                    <i class="fa fa-users fa-2x"></i>
                </div>
                <div class="card-body">body</div>
                <div class="card-footer">footer</div>
            </div>

            <h1>Hello, world!</h1>

            <div class="d-flex flex-column-reverse">
                <div class="p-3 bg-danger">
                    1
                </div>
                <div class="p-3 bg-purple">
                    2
                </div>
                <div class="p-3 bg-dark">
                    3
                </div>

            </div>

        </div>*@


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/assets/js/vendor/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

</body>
</html>
