@page
@model Bootstrap4Model
@{
    ViewData["Title"] = "Bootstrap4";
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <title>Hello, world!</title>
</head>

<body>

    <div class="container">

        <div class="card">
            <div class="card-header">header</div>
            <div class="card-body">body</div>
            <div class="card-footer">footer</div>
        </div>

        <h1>Hello, world!</h1>

        <div class="d-flex flex-column-reverse">
            <div class="p-3 bg-danger">
                1
            </div>
            <div class="p-3 bg-purple">
                2
            </div>
            <div class="p-3 bg-dark">
                3
            </div>

        </div>

    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/assets/js/vendor/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

</body>
</html>
