body {
    background:white;
    color:;
    font-family: Arial;
    font-size: 40px;
}

h1{
    text-align:center;
}


.photo{
    width: ;
    border: ;
    background: ;
    text-align: center;
    float: right;
}


.center-block{

}





a {
    color:#fff;
}

    


    a: hover{
        color:#ff6a00;
    }

    a:focus{
        color:#ff6a00;
    }

    a:visited{
        color:#ff8a00;
    }










